<div class="banner" id="slider">
  <div class="container">
    <div class="header_top">
      <div class="header_top_left">
        <div class="box_11">
          <%= render 'layouts/shared/basket' %>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="header_bottom">
      <div class="logo">
        <%= image_tag('by_frida_em_logo.jpeg') %>
      </div>
      <div class="menu">
        <ul class="megamenu skyblue">
          <li>
            <%= link_to_unless_current 'Hem', root_path, class: 'color2' %>
          </li>
          <li>
            <%= link_to_unless_current 'Om oss', page_path(:why), class: 'color2' %>
          </li>
          <li>
            <%= link_to_unless_current 'Produkter', '#', class: 'color2' %>
            <div class="megapanel">
              <div class="row">
                <div class="col1">
                  <div class="h_nav">
                    <h4>Men</h4>
                    <ul>
                      <% for category in procuct_categories %>
                        <li>
                          <%= link_to category.name.upcase, products_path(category.permalink), class: 'color2' %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <%= link_to 'Frågor & Svar', page_path(:faqs), class: 'color2' %>
          </li>
          <li>
            <%= link_to 'Kontakta oss', page_path(:contact), class: 'color2' %>
          </li>
        </ul>


      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#slider").vegas({
      transition: 'fade',
      overlay: '<%= image_path 'overlays/08.png' %>',
      transitionDuration: 2000,
      slides: [
        {src: "<%= image_path 'slider/bfem_1.jpg' %>"},
        {src: "<%= image_path 'slider/bfem_2.jpg' %>"},
        {src: "<%= image_path 'slider/bfem_3.jpg' %>"},
        {src: "<%= image_path 'slider/bfem_4.jpg' %>"},
        {src: "<%= image_path 'slider/bfem_5.jpg' %>"},
        {src: "<%= image_path 'slider/bfem_6.jpg' %>"},
        {src: "<%= image_path 'slider/bfem_7.jpg' %>"},
        {src: "<%= image_path 'slider/bfem_8.jpg' %>"},
        {src: "<%= image_path 'slider/bfem_9.jpg' %>"}
      ]
    });
  });

</script>
