<div class="footer">
  <div class="container">
    <div class="row">
      <div class="cssmenu">
        <ul>
          <li class="active"><%= link_to 'Hem', root_path, class: 'color2' %></li>
          <li><%= link_to 'Om oss', page_path(:why), class: 'color2' %></li>
          <li><%= link_to 'Fr책gor & Svar', page_path(:faqs), class: 'color2' %></li>
          <li><%= link_to 'Kontakta oss', page_path(:contact), class: 'color2' %></li>
        </ul>
      </div>
      <ul class="social">
        <li><a href=""> <i class="instagram"> </i> </a></li>
        <li><a href=""><i class="fb"> </i> </a></li>
        <li><a href=""><i class="tw"> </i> </a></li>
      </ul>
      <div class="clearfix"></div>
      <div class="copy">
        <p>Inneh책ll och bilder &copy; <%= Date.today.year %> ByFridaEM. Tredjeparts inneh책ll och bilder &copy; deras
          respektive 채gare.
        </p>

        <p>Running on <%= image_tag 'social/ruby.svg', style: 'height: 11px; width: 11px;' %> on Rails
          Coded with <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
          by <%= link_to 'CraftAcademy', 'http://www.craftacademy.se' %>.
        </p>
      </div>
    </div>
  </div>

</div>

