<% content_for :js do %>
  <% shoppe_stripe_javascript %>
<% end %>


<% @page_title = 'Checkout' %>
<div class=" col-md-8">
  <h1>Betala med ditt kreditkort</h1>
  <%= form_tag({:controller => 'orders', :action => 'payment'}, :id => 'stripeForm', :class => 'stripeForm') do %>
    <%= hidden_field_tag 'stripe_token', '', name: 'stripe_token', data: {stripe: 'token'} %>
    <%= field_set_tag nil, :class => 'payment' do %>

      <p> <%= link_to (image_tag 'powered-by-stripe_cards.png', class: 'cards'), 'https://stripe.com/se/features#seamless-security' %> </p>

      <p class="stripeError" style="font-weight: bold"></p>

      <dl>
        <dt>
          <%= label_tag 'card_number', 'Kortnummer' %>
        </dt>
        <dd class="number">
          <%= text_field_tag 'card_number', '', data: {stripe: 'number'}, name: nil, class: 'form-control' %>
        </dd>
      </dl>
      <dl>
        <dt>
          <%= label_tag 'exp_month', 'Giltighet (mm/yyyy)' %>
        </dt>
        <dd class="expiry">
          <%= select_tag nil, options_for_select((1..12).to_a), data: {stripe: 'exp_month'} %>
          <%= select_tag nil, options_for_select((Date.today.year..Date.today.year + 10).to_a), data: {stripe: 'exp_year'}, :class => 'year' %>
        </dd>
      </dl>
      <dl>
        <dt>
          <%= label_tag 'cvc', 'Säkerhetskod' %>
        </dt>
        <dd class="cvc">
          <%= text_field_tag 'cvc', '', :name => nil, maxlength: 4, data: {stripe: 'cvc'} %>
          <span>3 siffrig kod på baksidan av kortet.</span>
        </dd>
      </dl>
      <p class="customer">
        <%= submit_tag 'Betala' %>
      </p>
    <% end %>

  <% end %>
</div>
<div class="col-md-3 col-lg-offset-1">
  <%= render 'orders/checkout_sidebar' %>
</div>