<% active_nav_item :catalogue %>
<% @page_title = @product.name + ' - ' + @product.product_category.name %>


<div class="men">
  <div class="container" style="background-color: black">
    <div class="col-md-12 single_top">
      <div class="row">
        <div class="col-md-4">
          <% if @product.default_image %>
            <div>
              <%= render 'shared/image', product: @product %>
            </div>
          <% end %>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-8">
          <h1><%= @product.name %></h1>

          <p class="availability">Tillgänglighet:
            <% if @product.in_stock? %>
              <span class="color">I lager</span><br/>
              <span>Beställ inom <b><%= time_until_next_delivery_cut_off %></b> för leverans <%= next_delivery_day %>
                .</span>
            <% else %>
              <span class="color">Restnoterad</span><br/>
              <span class="color">Tyvärr, denna produkt finns inte på lager <b><%= link_to 'Bevaka!' %></b></span>
            <% end %>
          </p>

          <div class="price_single">
            <span class="amount item_price actual">Pris: <%= number_to_currency @product.price_including_tax, format: '%n %u' %></span>
          </div>
          <div>
            <p class="quick_desc"> <%= @product.short_description %> </p>
            <%= mail_to Shoppe.settings.email_address, 'Ställ en fråga', subject: "Fråga om #{@product.name}" %>

          </div>

          <div  style="margin-top: 20px;">
            <%= form_tag buy_product_path(@product.product_category.permalink, @product.permalink), class: (@product.in_stock? ? 'in-stock' : 'no-stock') do %>
              <span style="color: whitesmoke;">Quantity: </span>
              <%= select_tag 'quantity', options_for_select([1, 2, 3, 4, 5, 6, 7, 8, 9]), disabled: !@product.in_stock? %>
              <%= submit_tag 'Lägg till...', disabled: !@product.in_stock?, class: 'btn btn-order' %>
            <% end %>
          </div>


        </div>

        <div class="clearfix"></div>
      </div>
      <!--div class="sap_tabs">
        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
          <ul class="resp-tabs-list">
            <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Product Description</span></li>
            <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Additional Information</span></li>
          </ul>
          <div class="resp-tabs-container">
            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
              <div class="facts">
                <%= markdown @product.description %>
              </div>
            </div>
            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
              <div class="facts">

                <% unless @attributes.empty? %>
                  <ul class="tab_list">
                    <% for attribute in @attributes %>
                      <li>
                        <%= attribute.key %>
                        <%= link_to attribute.value, product_filter_path(:key => attribute.key, :value => attribute.value) %>
                      </li>

                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div-->
    </div>
  </div>
</div>

