<div id="slider" style="height: 470px; max-height: 470px; z-index: -1;">
</div>

<script>
  $(document).ready(function () {
    $("#slider").vegas({
      transition: 'fade',
      overlay: '<%= image_path 'overlays/08.png' %>',
      transitionDuration: 2000,
      slides: [
        {src: "<%= image_path 'slider/bfem_1.jpg' %>"},
        {src: "<%= image_path 'slider/bfem_2.jpg' %>"},
        {src: "<%= image_path 'slider/bfem_3.jpg' %>"},
        {src: "<%= image_path 'slider/bfem_4.jpg' %>"},
        {src: "<%= image_path 'slider/bfem_5.jpg' %>"},
        {src: "<%= image_path 'slider/bfem_6.jpg' %>"},
        {src: "<%= image_path 'slider/bfem_7.jpg' %>"},
        {src: "<%= image_path 'slider/bfem_8.jpg' %>"},
        {src: "<%= image_path 'slider/bfem_9.jpg' %>"}
      ]
    });
  });

</script>
