<!DOCTYPE html>
<html>
<head>
  <title><%= [@page_title, Shoppe.settings.store_name].join('-') %></title>
  <%= render 'shared/meta_tags' %>
  <%= csrf_meta_tags %>
  <%= render 'shared/app_icons' %>
  <%= stylesheet_link_tag :application, media: 'all' %>
  <%= stylesheet_link_tag 'vegas.css', media: 'all' %>
  <%= javascript_include_tag :application %>

  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' %>
  <%= yield :head %>
  <%= yield :js %>

</head>
<body>
<%= display_flash %>
<!-- Banner -->
<%= render 'shared/banner' %>

<!-- Main content section -->

<div class="clearfix"> </div>
<div class="container">
  <div class="row" style="margin-top: 30px">
    <%= yield %>
  </div>

</div>


<%#= render 'shared/products', products: @products %>
<!-- Footer -->
<%= render 'shared/footer' %>
<%= javascript_include_tag 'vegas.js' %>
<%= javascript_include_tag 'megamenu.js' %>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<%#= javascript_include_tag 'jquery.mousewheel' %>


</body>
</html>

